@page
@inherits ArchivesManagement.Web.Pages.ArchivesManagementPage
@model ArchivesManagement.Web.Pages.ArchivesManagement.IndexModel
@{
}
<h1>ArchivesManagement</h1>
<p>A sample page for the ArchivesManagement module.</p>